
@{
    ViewData["Title"] = "Leaflet";
}

<html>
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/js/leaflet.js"></script>
    @*<script src="~/js/ajax.js"></script>*@
    <script src="~/js/MousePosition.js"></script>

</head>
<body onload="displayleaflet()">
    <div class="main">
        <div class="list">
            <ul>
                <li>地図から探す</li>
                <li>条件から探す</li>
                <li>よくある質問</li>
                <li>お問い合わせ</li>
            </ul>
        </div>
        <h1>leaflet地図</h1>
        <div id="map" style="width:600px;height:600px"></div>
        <input type="submit" value="フリーハンド" id="btn" onclick="freeDrawing()" />
        <p>
            検索したいエリア:<input type="text" value="" id="searchArea">
            <input type="submit" value="検索" onclick="searchAreabtn()">
        </p>
        <button id="ss" onclick="findMyLocation()">現在地を表示</button>
        <span id="msg"></span>
        <button id="btn1" >ajax</button>
        <div>
            @*<form action="/Home/Leaflet" method="post">
                検索したいエリア:<input type="text" value="" name="searchTxt" />
                <input type="submit" value="検索" />
            </form>*@
            @ViewData["m"]
            @ViewData["a"]
            @ViewData["b"]



            @*modelをつかう*@
            @{
                @*LeafLetModel lm = ViewBag.LeafLetModel;
                <p>@lm.area_name</p>
                <p>@lm.latitude</p>
                <p>@lm.longitude</p>*@
            }
        </div>
    </div>
</body>
</html>